<nb-card>
  <div class="row">
    <nb-card-body>
      <a href="/pages/amostra-perfil">
        <button type="button" class="btn btn-primary" href="/pages/amostra-perfil"> Nova Amostra</button>
      </a>
    </nb-card-body>
  </div>
</nb-card>

<nb-card>
  <nb-card-header>
    Minhas Amostras
  </nb-card-header>

  <nb-card-body>
    <ul>
    <ng2-smart-table [settings]="settings" [source]="source"
      (createConfirm)="onCreateConfirm($event)"
      (editConfirm)="onSaveConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)"
      >
      <!-- [class.selected]="data === selectedData"
      (click)="onSelect($event)"> -->
    </ng2-smart-table>
    </ul>
  </nb-card-body>
</nb-card>

<nb-card>
<div class="row">
  <div class="col-xxxl-12">
    <nb-card>
    <nb-card-header>Todas as Amostras</nb-card-header>
    <nb-card-body> Colocar tabela que apresenta todas as amostras do laboratório</nb-card-body>
  </nb-card>
  </div>
</div>
</nb-card>
