<nb-card>
  <div class="row">
    <nb-card-body>
      <button type="submit" nbButton status="primary">Nova Amostra</button>
    </nb-card-body>
  </div>
</nb-card>

<nb-card>
  <nb-card-header>
    Minhas Amostras
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
<div class="row">
  <div class="col-xxxl-12">
    <nb-card>
    <nb-card-header>Todas as Amostras</nb-card-header>
    <nb-card-body> Colocar tabela que apresenta todas as amostras do laboratório</nb-card-body>
  </nb-card>
  </div>
</div>
</nb-card>
