<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h4>{{amostra.nome}}</h4>
        <div class="subtitle">Composição da Amostra</div>
      </nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="imputMatriz" class="label col-sm-3 col-6">Matriz:</label>
            <div class="col-6 col-sm-3">
              <input type="text" nbInput fullWidth id="matriz" required 
              [(ngModel)]="amostra.matriz" name="matriz" placeholder="Digitar">
            </div>
            <label for="inputDopante" class="label col-sm-3 col-6">Dopantes:</label>
            <div class="col-6 col-sm-3">
              <input type="text" nbInput fullWidth id="dopantes" required 
              [(ngModel)]="amostra.dopantes" name="dopantes" placeholder="Digitar">
            </div>
          </div>
          <h5 class="grid-h">Componentes da Matriz:</h5>
        <ng-container>
          
          <div class="form-group row">
            <label class="col-6 col-sm-3 label">1º Composito da Matriz: </label>
            <div class="col-6 col-sm-3">  
              <nb-select id="matrizcomp_1" required
                [(ngModel)]="amostra.matrizcomp_1" name="matrizcomp_1">
                <nb-option *ngFor="let matrizcomp_1 of CompMatriz" [value]="matrizcomp_1">
                  {{matrizcomp_1}}
                </nb-option>
              </nb-select>
            </div>
            <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
            <div class="col-6 col-sm-3">
              <input type="number" nbInput fullWidth id="concen_matrizcomp_1" required 
              [(ngModel)]="amostra.concen_matrizcomp_1" name="concen_matrizcomp_1" placeholder="%">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-6 col-sm-3 label">2º Composito da Matriz: </label>
            <div class="col-6 col-sm-3">
              <nb-select id="matrizcomp_2" required
                [(ngModel)]="amostra.matrizcomp_2" name="matrizcomp_2">
                <nb-option *ngFor="let matrizcomp_2 of CompMatriz" [value]="matrizcomp_2">
                  {{matrizcomp_2}}
                </nb-option>
              </nb-select>
            </div>
            <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
            <div class="col-6 col-sm-3">
              <input type="number" nbInput fullWidth id="concen_matrizcomp_2" required 
              [(ngModel)]="amostra.concen_matrizcomp_2" name="concen_matrizcomp_2" placeholder="%">
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-6 col-sm-3 label">3º Composito da Matriz: </label>
            <div class="col-6 col-sm-3">
              <nb-select id="matrizcomp_3" required
                [(ngModel)]="amostra.matrizcomp_3" name="matrizcomp_3">
                <nb-option *ngFor="let matrizcomp_3 of CompMatriz" [value]="matrizcomp_3">
                  {{matrizcomp_3}}
                </nb-option>
              </nb-select>
            </div>
            <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
            <div class="col-6 col-sm-3">
              <input type="number" nbInput fullWidth id="concen_matrizcomp_3" required 
              [(ngModel)]="amostra.concen_matrizcomp_3" name="concen_matrizcomp_3" placeholder="%">
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-6 col-sm-3 label">4º Composito da Matriz: </label>
            <div class="col-6 col-sm-3">
              <nb-select id="matrizcomp_4" required
                [(ngModel)]="amostra.matrizcomp_4" name="matrizcomp_4">
                <nb-option *ngFor="let matrizcomp_4 of CompMatriz" [value]="matrizcomp_4">
                  {{matrizcomp_4}}
                </nb-option>
              </nb-select>
            </div>
            <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
            <div class="col-6 col-sm-3">
              <input type="number" nbInput fullWidth id="concen_matrizcomp_4" required 
              [(ngModel)]="amostra.concen_matrizcomp_4" name="concen_matrizcomp_4" placeholder="%">
            </div>
          </div>
        </ng-container>
        
        <div class="validation-checkboxes">
          <label for="imputAdcionar" class="label col-6 col-sm-3">Adicionar:</label>
          <nb-checkbox class ="dopante_checkbox">Dopantes</nb-checkbox>
          <nb-checkbox>NPs</nb-checkbox>
        </div>    
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Teste de Aba
      </nb-card-header>
      <nb-card-body>
        <p [hidden]="!dopante_checkbox">Só mostrar se estiver verdadeiro</p>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h6>Componentes Dopantes</h6>
      </nb-card-header>
      <nb-card-body>
        <form>

        <div class="form-group row">
          <label class="col-6 col-sm-3 label">1º Dopante na Matriz: </label>
          <div class="col-6 col-sm-3">
            <nb-select id="dopantecomp_1" required
                [(ngModel)]="amostra.dopantecomp_1" name="dopantecomp_1">
                <nb-option *ngFor="let dopantecomp_1 of CompDopantes" [value]="dopantecomp_1">
                  {{dopantecomp_1}}
                </nb-option>
            </nb-select>
          </div>
          <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
          <div class="col-6 col-sm-3">
            <input type="number" nbInput fullWidth id="concen_dopantecomp_1" required 
              [(ngModel)]="amostra.concen_dopantecomp_1" name="concen_dopantecomp_1" placeholder="%">
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-6 col-sm-3 label">2º Dopante na Matriz: </label>
          <div class="col-6 col-sm-3">
            <nb-select id="dopantecomp_2" required
                [(ngModel)]="amostra.dopantecomp_2" name="dopantecomp_2">
                <nb-option *ngFor="let dopantecomp_2 of CompDopantes" [value]="dopantecomp_2">
                  {{dopantecomp_2}}
                </nb-option>
            </nb-select>
          </div>
          <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
          <div class="col-6 col-sm-3">
            <input type="number" nbInput fullWidth id="concen_dopantecomp_2" required 
              [(ngModel)]="amostra.concen_dopantecomp_2" name="concen_dopantecomp_2" placeholder="%">
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-6 col-sm-3 label">3º Dopante na Matriz: </label>
          <div class="col-6 col-sm-3">
            <nb-select id="dopantecomp_3" required
                [(ngModel)]="amostra.dopantecomp_3" name="dopantecomp_3">
                <nb-option *ngFor="let dopantecomp_3 of CompDopantes" [value]="dopantecomp_3">
                  {{dopantecomp_3}}
                </nb-option>
            </nb-select>
          </div>
          <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
          <div class="col-6 col-sm-3">
            <input type="number" nbInput fullWidth id="concen_dopantecomp_3" required 
              [(ngModel)]="amostra.concen_dopantecomp_3" name="concen_dopantecomp_3" placeholder="%">
          </div>
        </div>
       
        <div class="form-group row">
          <label class="col-6 col-sm-3 label">4º Dopante na Matriz: </label>
          <div class="col-6 col-sm-3">
            <nb-select id="dopantecomp_4" required
                [(ngModel)]="amostra.dopantecomp_4" name="dopantecomp_4">
                <nb-option *ngFor="let dopantecomp_4 of CompDopantes" [value]="dopantecomp_4">
                  {{dopantecomp_4}}
                </nb-option>
            </nb-select>
          </div>
          <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
          <div class="col-6 col-sm-3">
            <input type="number" nbInput fullWidth id="concen_dopantecomp_4" required 
              [(ngModel)]="amostra.concen_dopantecomp_4" name="concen_dopantecomp_4" placeholder="%">
          </div>
        </div>
      
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h6>Precursores de Nanoparticulas</h6>
      </nb-card-header>
      <nb-card-body>
        <form>

        <div class="form-group row">
          <label class="col-6 col-sm-3 label">1º Precursor de NPs: </label>
          <div class="col-6 col-sm-3">
            <nb-select id="npcomp_1" required
                [(ngModel)]="amostra.npcomp_1" name="npcomp_1">
                <nb-option *ngFor="let npcomp_1 of CompNPs" [value]="npcomp_1">
                  {{npcomp_1}}
                </nb-option>
            </nb-select>
          </div>
          <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
          <div class="col-6 col-sm-3">
            <input type="number" nbInput fullWidth id="concen_npcomp_1" required 
              [(ngModel)]="amostra.concen_npcomp_1" name="concen_npcomp_1" placeholder="%">
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-6 col-sm-3 label">2º Precursor de NPs: </label>
          <div class="col-6 col-sm-3">
            <nb-select id="npcomp_2" required
                [(ngModel)]="amostra.npcomp_2" name="npcomp_2">
                <nb-option *ngFor="let npcomp_2 of CompNPs" [value]="npcomp_2">
                  {{npcomp_2}}
                </nb-option>
            </nb-select>
          </div>
          <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
          <div class="col-6 col-sm-3">
            <input type="number" nbInput fullWidth id="concen_npcomp_2" required 
              [(ngModel)]="amostra.concen_npcomp_2" name="concen_npcomp_2" placeholder="%">
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-6 col-sm-3 label">3º Precursor de NPs: </label>
          <div class="col-6 col-sm-3">
            <nb-select id="npcomp_3" required
                [(ngModel)]="amostra.npcomp_3" name="npcomp_3">
                <nb-option *ngFor="let npcomp_3 of CompNPs" [value]="npcomp_3">
                  {{npcomp_3}}
                </nb-option>
            </nb-select>
          </div>
          <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
          <div class="col-6 col-sm-3">
            <input type="number" nbInput fullWidth id="concen_npcomp_3" required 
              [(ngModel)]="amostra.concen_npcomp_3" name="concen_npcomp_3" placeholder="%">
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-6 col-sm-3 label">4º Precursor de NPs: </label>
          <div class="col-6 col-sm-3">
            <nb-select id="npcomp_4" required
                [(ngModel)]="amostra.npcomp_4" name="npcomp_4">
                <nb-option *ngFor="let npcomp_4 of CompNPs" [value]="npcomp_4">
                  {{npcomp_4}}
                </nb-option>
            </nb-select>
          </div>
          <label for="imputConcentração" class="label col-6 col-sm-3">Concentração (%):</label>
          <div class="col-6 col-sm-3">
            <input type="number" nbInput fullWidth id="concen_npcomp_4" required 
              [(ngModel)]="amostra.concen_npcomp_4" name="concen_npcomp_4" placeholder="%">
          </div>
        </div>
      
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="form-group row">
  <div class="offset-sm-9 col-sm-12">
    <button type="submit" nbButton status="primary">Atualizar</button>
  </div>
</div>