<nb-card>
  <div class="row">
    <div class="col-xxxl-12">
      <nb-card>
      <nb-card-header>Perfil da Amostra </nb-card-header>
      <nb-card-body> Colocar cards: (Composição Quimica); (Processo de Produção); (Caracteristicas Fisicas)</nb-card-body>
    </nb-card>
    </div>
  </div>
</nb-card>

<nb-card>
  <div class="row">
    <div class="col-xxxl-12">
      <nb-card>
      <nb-card-header>Composição Quimica </nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>
    </nb-card>
    </div>
  </div>
</nb-card>

<nb-card>
  <div class="row">
    <div class="col-xxxl-12">
      <nb-card>
      <nb-card-header>Processo de Produção</nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>
    </nb-card>
    </div>
  </div>
</nb-card>

<nb-card>
  <div class="row">
    <div class="col-xxxl-12">
      <nb-card>
      <nb-card-header>Caracteristicas Fisicas</nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>
    </nb-card>
    </div>
  </div>
</nb-card>

<nb-card>
  <div class="row">
    <div class="col-xxxl-12">
      <nb-card>
      <nb-card-header>Graficos</nb-card-header>
      <nb-card-body> Card com opção de adicionar dados de tabela para montar graficos,
         como Emissão, Absorção e outras medições realizadas na amostra</nb-card-body>
    </nb-card>
    </div>
  </div>
</nb-card>

<nb-card>
  <div class="row">
    <div class="col-xxxl-12">
      <nb-card>
      <nb-card-header>Historico</nb-card-header>
      <nb-card-body> Colocar uma tabela com resumo do historico de acontecimentos
        com a amostra.
      </nb-card-body>
    </nb-card>
    </div>
  </div>
</nb-card>

<nb-card>
  <div class="row">
    <div class="col-xxxl-12">
      <nb-card>
      <nb-card-header>Localização</nb-card-header>
      <nb-card-body> colocar neste campo a ultima localização da amostra, com opção de atualizar localização</nb-card-body>
    </nb-card>
    </div>
  </div>
</nb-card>