<nb-card>
  <nb-card-header>
    Perfil da Amostra
  </nb-card-header>
      <nb-card-body> 
Colocar cards resumo dos cards (Composição Quimica); (Processo de Produção); (Caracteristicas Fisicas)
      </nb-card-body>
</nb-card>

<div class="row show-grid">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header> 
        Composição Quimica
        <a href="/pages/amostra-composicao">
        <button type="submit" 
          nbButton status= primary ghost 
          nbButton size="small"> Editar 
        </button>
        </a>
      </nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>  
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Processo de Produção
        <a href="/pages/amostra-processos">
          <button type="submit" 
            nbButton status= primary ghost 
            nbButton size="small"> Editar 
          </button>
          </a>
      </nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Caracteristicas Fisicas</nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Foto da Amostra</nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Graficos
      </nb-card-header>
      <nb-card-body> 
Card com opção de adicionar dados de tabela para montar graficos, como Emissão, Absorção e outras medições realizadas na amostra
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Graficos
      </nb-card-header>
      <nb-card-body> 
Card com opção de adicionar dados de tabela para montar graficos, como Emissão, Absorção e outras medições realizadas na amostra
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Historico
      </nb-card-header>
      <nb-card-body> 
      Colocar uma tabela com resumo do historico de acontecimentos com a amostra.
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Localização
      </nb-card-header>
      <nb-card-body> 
colocar neste campo a ultima localização da amostra, com opção de atualizar localização
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row show-grid">
  <div class="col-md-1 offset-md-2">
    <button type="submit" nbButton status="primary">Voltar</button>
  </div>
</div>
