<nb-card>
  <nb-card-header>
    <h4>{{amostra.nome}}</h4>
        <div class="subtitle">Informações da Amostra</div>
  </nb-card-header>
      <nb-card-body> 
        <div class="row">
          <label for="Matriz" class="label col-sm-1 col-3">Matriz:</label>
          <div class="col-3 col-sm-1">
            <p>
              {{amostra.matriz}}
            </p>
          </div>
          <label for="inputDopante" class="label col-sm-1 col-3">Dopantes:</label>
          <div class="col-3 col-sm-1">
            <p>
              {{amostra.dopantes}}
            </p>
          </div>
          <label for="inputDopante" class="label col-sm-1 col-3">Autor:</label>
          <div class="col-3 col-sm-1">
            <p>
              {{amostra.autor}}
            </p>
          </div>
          <label for="inputDopante" class="label col-sm-1 col-3">Local:</label>
          <div class="col-3 col-sm-1">
            <p>
              {{amostra.local}}
            </p>
          </div>
        </div>
      </nb-card-body>
</nb-card>

<div class="row show-grid">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header> 
        Composição Quimica
        <a href="/pages/amostra-composicao">
        <button type="submit" 
          nbButton status= primary ghost 
          nbButton size="small"> Editar 
        </button>
        </a>
      </nb-card-header>
      <nb-card-body>
        <label class="col-md-6 label">Componentes da Matriz:</label>
        <div [hidden]="esconder_configurar_matriz">Sem informação Cadastradas</div>
        <div class="form-group row" [hidden]="esconder_matrizcomp_1">
          <label class="col-3 col-sm-3 label">1º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.matrizcomp_1}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_matrizcomp_1}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_matrizcomp_2">
          <label class="col-3 col-sm-3 label">2º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.matrizcomp_2}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_matrizcomp_2}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_matrizcomp_3">
          <label class="col-3 col-sm-3 label">3º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.matrizcomp_3}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_matrizcomp_3}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_matrizcomp_4">
          <label class="col-3 col-sm-3 label">4º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.matrizcomp_4}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_matrizcomp_4}}
            </p>
          </div>
        </div>
<!-- Dopantes -->
      <div [hidden]="!esconder_configurar_matriz">
        <label class="col-md-6 label" [hidden]="esconder_dopantecomp_1">Componentes Dopantes:</label>
        <div class="form-group row" [hidden]="esconder_dopantecomp_1">
          <label class="col-3 col-sm-3 label">1º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.dopantecomp_1}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_dopantecomp_1}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_dopantecomp_2">
          <label class="col-3 col-sm-3 label">2º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.dopantecomp_2}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_dopantecomp_2}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_dopantecomp_3">
          <label class="col-3 col-sm-3 label">3º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.dopantecomp_3}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_dopantecomp_3}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_dopantecomp_4">
          <label class="col-3 col-sm-3 label">4º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.dopantecomp_4}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_dopantecomp_4}}
            </p>
          </div>
        </div>
      </div>
<!-- NPs -->
      <div [hidden]="!esconder_configurar_matriz">
        <label class="col-md-6 label" [hidden]="esconder_npcomp_1">Precursores de Nanoparticulas:</label>
        <div class="form-group row" [hidden]="esconder_npcomp_1">
          <label class="col-3 col-sm-3 label">1º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.npcomp_1}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_npcomp_1}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_npcomp_2">
          <label class="col-3 col-sm-3 label">2º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.npcomp_2}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_npcomp_2}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_npcomp_3">
          <label class="col-3 col-sm-3 label">3º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.npcomp_3}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_npcomp_3}}
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_npcomp_4">
          <label class="col-3 col-sm-3 label">4º: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.npcomp_4}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">(%):</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.concen_npcomp_4}}
            </p>
          </div>
        </div>
      </div>
<!-- Fim do card -->
      </nb-card-body>  
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Processo de Produção
        <a href="/pages/amostra-processos">
          <button type="submit" 
            nbButton status= primary ghost 
            nbButton size="small"> Editar 
          </button>
          </a>
      </nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <label class="col-3 col-sm-3 label">Fusão: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{fusao_temperatura_add}}°C / {{fusao_tempo_add}}min
            </p>
          </div>
          <label class="label col-3 col-sm-3">Tratamento:</label>
          <div class="col-3 col-sm-3">
            <p>
              {{tratamento_temperatura_add}}°C / {{tratemento_tempo_add}}min
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-sm-3 label">OBS:</label>
          <div class="col-3 col-sm-3">
            <p>
              {{fusao_forno}} a {{amostra.fusao_forno_rampa}}/min
            </p>
          </div>
          <label class="label col-3 col-sm-3"> </label>
          <div class="col-3 col-sm-3">
            <p>
              {{trat_forno}} a {{amostra.trat_forno_rampa}}/min
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-sm-3 label">Agitação:</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.agita_tipo}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">Nucleação / Recozimento: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.nucle_ciclos}}
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-sm-3 label">Recozimento:</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.nucle_temperatura}}°C / {{amostra.nucle_tempo}}min
            </p>
          </div>
          <label class="label col-3 col-sm-3">Numero de ciclos: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.nucle_ciclos}}
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-sm-3 label">obs:</label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.nucle_forno}} a {{amostra.nucle_forno_rampa}}/min
            </p>
          </div>
          <label class="label col-3 col-sm-3">Amostra com: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.nucle_tempo}} min
            </p>
          </div>
        </div>
        <div class="form-group row" [hidden]="esconder_refusao">
          <label class="col-3 col-sm-3 label">Refundida:</label>
          <div class="col-3 col-sm-3">
            <p>
              {{refundida}}
            </p>
          </div>
          <label class="label col-3 col-sm-3">Numero de vezes: </label>
          <div class="col-3 col-sm-3">
            <p>
              {{amostra.refusao_numero}}
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-sm-3 label">Obdervações:</label>
          {{observa}}
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Caracteristicas Fisicas</nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Foto da Amostra</nb-card-header>
      <nb-card-body> Colocar cards:</nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Graficos
      </nb-card-header>
      <nb-card-body> 
Card com opção de adicionar dados de tabela para montar graficos, como Emissão, Absorção e outras medições realizadas na amostra
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Graficos
      </nb-card-header>
      <nb-card-body> 
Card com opção de adicionar dados de tabela para montar graficos, como Emissão, Absorção e outras medições realizadas na amostra
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Historico
      </nb-card-header>
      <nb-card-body> 
      Colocar uma tabela com resumo do historico de acontecimentos com a amostra.
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Localização
      </nb-card-header>
      <nb-card-body> 
colocar neste campo a ultima localização da amostra, com opção de atualizar localização
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row show-grid">
  <div class="col-md-1 offset-md-2">
    <button type="submit" nbButton status="primary">Voltar</button>
  </div>
</div>
