<div class="row">
  <div class="col-xxx0-3">
    <nb-card>
    <nb-card-header>Titulo do cartão</nb-card-header>
    <nb-card-body> Conteudo do cartão</nb-card-body>
  </nb-card>
  </div>
  <div class="col-xxx3-6">
    <nb-card>
    <nb-card-header>Titulo do cartão</nb-card-header>
    <nb-card-body> Conteudo do cartão</nb-card-body>
  </nb-card>
  </div>
  <div class="col-xxx6-9">
    <nb-card>
    <nb-card-header>Titulo do cartão</nb-card-header>
    <nb-card-body> Conteudo do cartão</nb-card-body>
  </nb-card>
  </div>
  <div class="col-xxx9-12">
    <nb-card>
    <nb-card-header>Titulo do cartão</nb-card-header>
    <nb-card-body> Conteudo do cartão</nb-card-body>
  </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-12">
    <nb-card>
    <nb-card-header>Titulo do cartão</nb-card-header>
    <nb-card-body> Conteudo do cartão</nb-card-body>
  </nb-card>
  </div>
</div>
